<% include ./partials/cheader %>

<!-- Category section -->
<section class="category-section spad">
    <div class="container">
        <form id="formoid" method="post" action = '/appliance-repair/refrepair'>
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                
                <div class="filter-widget mb-0">
                    <h2 class="fw-title">refine by</h2>
                    <div class="price-range-wrap">
                        <h4>Price</h4>
                        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="0" data-max="50000">
                            <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;">
                            </span>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;">
                            </span>
                        </div>
                        <div class="range-slider">
                            <div class="price-input">
                                <input type="text" id="minamount" name="min_price">
                                <input type="text" id="maxamount" name="max_price">
                            </div>
                        </div>
                    </div>
                </div>	
            </div>

            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-lg-8 ml-5">
                        
                            <div class="form-group">
                                <select class="form-control item" name="speciality" placeholder="Type of Service">
                                    <option value="type">Type of Service</option>
                                    <option value="repair">Repair/Fixing</option>
                                    <option value="install">Maintainance</option>
                                    <option value="others">Other</option>
                                </select>
                            </div>
                       
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-8 ml-5 mt-2">
                       
                            <div class="form-group">
                                <select class="form-control item" name="course" placeholder="Type of AC">
                                    <option value="btech">Type of Refrigerator</option>
                                    <option value="btech">One Door</option>
                                    <option value="barch">Two Door</option>
                                    <option value="barch">Three Door</option>
                                    <option value="barch">Other</option>
                                </select>
                            </div>
                        
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-8 ml-5 mt-2">
                        
                            <div class="form-group">
                                <select class="form-control item" name="course" placeholder="Issue">
                                    <option value="btech">Issue</option>
                                    <option value="btech">Door Issue</option>
                                    <option value="barch">Water Leaking</option>
                                    <option value="barch">Power Issue</option>
                                    <option value="barch">Freezer not cooling</option>
                                    <option value="barch">Defrost Issue</option>
                                    <option value="barch">Noisy</option>
                                    <option value="barch">Not Working</option>
                                    <option value="barch">Other</option>
                                </select>
                            </div>
                       
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-5 ml-5 mt-2">
                        
                            <div class="form-group">
                                <button class="btn btn-dark btn-block create-account" type="submit">Search</button>
                            </div>
                       
                    </div>
                    
                </div>
            </div>
        </div>
        </form>
    </div>
</section>
<!-- Category section end -->

<% include ./partials/footer %>